<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewBag.Title</title>

    <link href="~/Content/css/stil.css" rel="stylesheet">

</head>

<body>

    <div id="wrapper">

        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/Default/Index">
                <div class="sidebar-brand-text mx-3">
                    Stok Durumları
                </div>
            </a>

            <li class="nav-item">
            <li class="nav-item active">
                <a class="nav-link" href="/Home/Index">
                    <span>Kullanıcılar</span>
                </a>
            </li>

        </ul>

        <div id="content-wrapper" class="d-flex flex-column">

            <div id="content">

                <div class="container-fluid">
                    <br><br><br />

                    @RenderBody()

                </div>
            </div>

        </div>

    </div>

    <script src="~/Content/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="~/Content/vendor/jquery-easing/jquery.easing.min.js"></script>

    <script src="~/Content/js/sb-admin-2.min.js"></script>

    <script src="~/Content/vendor/chart.js/Chart.min.js"></script>

    <script src="~/Content/js/demo/chart-area-demo.js"></script>
    <script src="~/Content/js/demo/chart-pie-demo.js"></script>


    @RenderSection("scripts", false)

</body>

</html>

